[submodule "lua"]
	path = lua
	url = https://github.com/LuaDist/lua.git
[submodule "luafilesystem"]
	path = luafilesystem
	url = https://github.com/keplerproject/luafilesystem.git
[submodule "Penlight"]
	path = Penlight
	url = https://github.com/stevedonovan/Penlight.git
